div.container{
    text-align: center;
    padding: auto 30%;
} 

div#copyright {
    text-align: center;
    margin: 10px;
}

div#center {
    background-color: #EEEEEE;
    margin: auto 70px;
}

input#search-box{
     margin-bottom: 10px;
     width: 300px;
}

.flex-container {
    display: flex;
    justify-content: center;
    
  }
  
  .flex-container > div {
    background-color: #70CCC2;
    padding: 10px;
    width: 375px;
    margin: 5px ;
    text-align: center;
    
    
  }